= form_for @signup, :url => events_signups_new_path,  :html => { :multipart => true } do |f|
  - if @signup.errors.any?
    - @signup.errors.full_messages.each do |message|
      .message_error
        %p= message
  %p
    = f.label :role
    %br/
    = f.text_field :role
  = f.hidden_field :event_id, :value => @e.id
  %p.button= f.submit
