= form_for @user, :url => @url_path, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    - @user.errors.full_messages.each do |message|
      .message_error
        %p= message
  .form-row
    = f.text_field :email, :value => "#{@user.email}", :placeholder => 'Email address', :class => 'form-input'
  .form-row
    = f.text_field :name, :value => "#{@user.name}", :placeholder => 'Full Name', :class => 'form-input'
  .form-row
    = f.text_field :year, :value => "#{@user.year}", :placeholder => 'Year of Graduation', :class => 'form-input'
  .form-row
    = f.text_field :position, :value => "#{@user.position}", :placeholder => 'Committee', :class => 'form-input'
  .form-row
    = f.password_field :password, :placeholder => 'Password', :class => 'form-input'
  .form-row
    = f.password_field :password_confirmation, :placeholder => 'Confirm password', :class => 'form-input'
  .form-row
    %button{:type => "submit", :class => "positive"}
      = image_tag("sky/check.png", :class => "button")
      Update User
