= form_for @p,  :html => { :multipart => true } do |f|
  - if @p.errors.any?
    - @p.errors.full_messages.each do |message|
      .message_error
        %p= message
  %p
    #label
      = f.label :title
    = f.text_field :title
  %p
    #label
      = f.label :content
    %br/
    = f.text_area :content
  %p.button= f.submit
